<div class="app container">
    <!-- ko if: !isConnected() -->
    <div class="row center">
        <div class="col s12">
            <button class="btn-large blue lighten-2" data-bind="click: connect, disable: isConnecting">
                <i class="material-icons left">
                    <svg width="24" height="24" viewBox="0 0 24 24">
                        <path d="M7.71,3.5L1.15,15L4.58,21L11.13,9.5M9.73,15L6.3,21H19.42L22.85,15M22.28,14L15.42,2H8.58L8.57,2L15.43,14H22.28Z" />
                    </svg>
                </i>
                <!-- ko text: isConnecting() ? '... connecting' : 'Connect' --><!-- /ko -->
            </button>
        </div>
    </div>
    <!-- /ko -->
    <!-- ko if: isConnected() -->
    <div class="row center">
        <div class="col s12">
            <button class="btn-large blue lighten-2" data-bind="visible: !isSignedIn(), click: signIn">
                Authorize
            </button>
            <button class="btn-large red lighten-2" data-bind="visible: isSignedIn(), click: signOut">
                Sign out
            </button>            
        </div>
    </div>
    <!-- /ko -->
    <!-- ko if: isSignedIn() -->
    <div class="row">
        <!-- ko if: files().length -->
        <div class="col s12">
            <ul class="collection" data-bind="foreach: files">
                <li class="collection-item">
                    <a class="btn-flat btn-flat--file" data-bind="click: $parent.getFile.bind($parent)">
                        <i class="material-icons left">
                            <img data-bind="attr: { src: iconLink.replace('/16/', '/32/') }" />
                        </i>
                        <!-- ko text: name--><!-- /ko -->
                        <b class="right" data-bind="text: typeof(size) !== 'undefined' ? Math.round(size / 1024) + ' kB' : '0 kB'"></b>
                    </a>
                </li>
            </ul>
        </div>
        <!-- /ko -->
        <!-- ko if: nextPage().length -->
        <div class="col s12 center">
            <button class="btn green lighten-2" data-bind="click: listFiles.bind($data, nextPage())">
                Next
            </button>
        </div>        
        <!-- /ko -->    
    </div>
    <!-- /ko -->    
</div>